<p>Эй <%= @user.username %>, одобри новую историю, которая была добавлена <%= @story.created_at %>!</p>

<p><b><%= @story.author %></b> написал:<p>

<p><i><%= @story.content %></i></p>

<p><%= link_to "К истории", root_url + "stories/" + @story.id.to_s %></p>