<%= form_for @story do |f| %>
  <div id="newform">
    <div class="field">
      <%= f.label :author, "Автор" %>
      <%= f.text_field :author, :size => 25 %>
    </div>

    <div class="field">
      <%= f.label :content, "История" %><br/>
      <%= f.text_area :content, :style => 'width: 500px;' %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </div>
<% end %>