<!DOCTYPE html>
<html>
<head>
  <meta name='yandex-verification' content='485b9e3150fbccda' />
  <meta name="keywords" content="дура, я дура, почему я дура, почему я такая дура" />
  <link rel="shortcut icon" href="<%= root_url %>" type="image/x-icon" />
  <title>Почему я такая дура?</title>
  
  <script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-19881721-2']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
  </script>

  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body class="home blog" onload="skyscraper_init()">
<div id="page" class="fix">
  <%= render "advert/google_skyscraper" %>
  <div id="wrapper" class="fix">
    <div id="header" class="fix">
      <h1 id="blogtitle"><a href="<%= root_url %>"><span class="sheen"></span>Почему я такая <img src="<%= root_url %>logo.png"/ alt="дура" style="margin-bottom:-6px;">?</a></h1>
      <div id="blogdescription">База тупстВ</div>				<!-- iphone icons -->
      <div class="icons">
	<div class="nav-icon">
          <a href='<%= root_url %>stories.xml'><img class="pngbg" src="<%= root_url %>stylesheets/rss00000.png" alt="rss icon"/></a>
        </div>
      </div>
<!-- /end iphone icons -->
    </div><!-- /header -->
    <div id="nav" class="fix">
      <ul class="fix homebutton">
        <li class="page_item navfirst">
          <a class="home" href="<%= root_url %>" title="Home" style="background-image: url('/stylesheets/home-icon-trans.png');">Домой</a>
        </li>
      </ul>
      <div class="mnav dropdown fix">
        <%= render :partial => 'shared/menu'  %>
        <%= render :partial => 'shared/searchblock' %>
      </div>
      <div class="clear"></div>
    </div><!-- /nav -->

    <div id="container" class="fix ">
      <div id="maincontent">
        <div id="content">
	  <% if !params[:notice].blank? %>
          <p id="notice"><%= params[:notice] %></p>
	  <% end %>
          <%= yield :content %>
        </div> <!-- end content -->
    </div>
  </div>
  <%= render :partial => "advert/google_adsence" %>
  <div  id="footer">
    <div class="effect">
      <div class="content">
          <div class="fcol">
            <div class="fcol_pad">
              <h3>Навигация</h3>
                <div class="footer_nav">
                  <%= render :partial => 'shared/menufooter' %>
                </div>
            </div>
          </div>
          <div class="fcol" style="width: 200px;">
            <div class="fcol_pad">
              <div class="welcomemessage">
                <a href="<%= root_url %>">Почему-Я-Такая-Дура.РУ</a> <br/>&copy; 2011<br/>
                <a href="mailto:admin@pochemu-ya-takaya-dura.ru">admin@pochemu-ya-takaya-dura.ru</a>
                <br/>
                <b><%= link_to 'Рекламодателям', { :controller => 'about', :action => 'advert' } %></b>
              </div>
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <div class="footer_nav">
                <ul>
				  <li class="page_item">
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t17.2;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";"+Math.random()+
"' alt='' title='LiveInternet: показано число просмотров за 24"+
" часа, посетителей за 24 часа и за сегодня' "+
"border='0' width='88' height='31'><\/a>")
//--></script><!--/LiveInternet-->
				  </li>
                  <li class="page_item">		  
<!-- begin of Top100 code -->

<script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?2485099"></script>
<noscript>
<a href="http://top100.rambler.ru/navi/2485099/">
<img src="http://counter.rambler.ru/top100.cnt?2485099" alt="Rambler's Top100" border="0" />
</a>
</noscript>
<!-- end of Top100 code -->
				  </li>
                </ul>
              </div>
            </div>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- catalogs -->
  <div style="text-align: center;"> 
  </div>  
  <div class="clear"></div>
    <hr class="hidden" />
  </div><!--/wrapper -->
</div><!--/page -->
</body>
</html>
