<!DOCTYPE html>
<html>
<head>
  <title>Почему я такая дура?</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>

  <style type="text/css">
    .popup_effect1 {
      background: #909090;
      opacity: 0.2;
    }
  </style>
  
  <script type="text/javascript">
    function getArgs()
    {
	var
		args=new Object(),
		query=location.search.substring(1),
		pairs=query.split("&"),
		pos,
		argname,
		value;

	for(var i=0; i<pairs.length; ++i)
	{
		pos=pairs[i].indexOf("=");
		if(pos==-1)
			continue;
		argname=pairs[i].substring(0,pos);
		value=pairs[i].substring(pos+1);
		args[argname.toLowerCase()]=unescape(value);
		//args[argname]=decodeURIComponent(value);
	}

	return(args);
    }

    function hidenotice2()
    {
      var notice = document.getElementById('notice');
      notice.hide();
      var args = getArgs();
      if (args['notice'] != undefined)
      {
          notice.show();
          notice.innerHTML = args['notice'];
      }
    }

    function hidenotice()
    {
      var notice = $('notice');
      if (notice.innerHTML.length == 0)
      {
        notice.hide();
      }
      else
      {
        notice.show();
      }
    }

    function newstorysend()
    {
      Windows.focusedWindow.close();
      document.forms[0].submit();
    }

    function openDialog3(html, id)
    {
      //var effect = new PopupEffect(html, {className: "popup_effect1"});
      $('story_author').value = '';
      $('story_content').innerHTML = '';
      Dialog.confirm($(id).innerHTML,{ buttonClass: "button", onOk: newstorysend, className:"alphacube", width: 420/*, showEffect:effect.show.bind(effect), hideEffect:effect.hide.bind(effect)*/})
    }
  </script>

  <script type="tetext/javascript">
  </script>

  <%= csrf_meta_tag %>
</head>

<body onload="hidenotice()" class="home blog">
<div id="page" class="fix">
  <div id="wrapper" class="fix" >
    <div id="header" class="fix">
      <h1 id="blogtitle"><a href="http://localhost:3000/"><span class="sheen"></span>Почему я такая дура?</a></h1>
      <div id="blogdescription">На самом деле не такая уж ты и дура</div>				<!-- iphone icons -->
      <div class="icons">
	<div class="nav-icon">
          <a href='http://localhost:3000/rss'><img class="pngbg" src="http://localhost:3000/stylesheets/rss00000.png" alt="icon"/></a>
        </div>
      </div>
<!-- /end iphone icons -->
    </div><!-- /header -->
    <div id="nav" class="fix">
      <ul class="fix homebutton">
        <li class="page_item navfirst">
          <a class="home" href="http://localhost:3000" title="Home" style="background-image: url('/stylesheets/home-icon-trans.png');">Домой</a>
        </li>
      </ul>
      <div class="mnav dropdown fix">
        <%= render :partial => 'shared/menu'  %>
        <%= render :partial => 'shared/searchblock' %>
      </div>
      <div class="clear"></div>
    </div><!-- /nav -->

    <div id="container" class="fix ">
      <div id="maincontent">
        <div id="content">
          <p id="notice"><%= params[:notice] %></p>
          <%= yield :content %>
        </div> <!-- end content -->
    </div>
  </div>
  <div  id="footer">
    <div class="effect">
      <div class="content">
        <div id="fcolumns_container" class="fix">
          <div class="fcol">
            <div class="fcol_pad">
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <h3>Страницы</h3>
                <div class="footer_nav">
                  <%= render :partial => 'shared/menufooter' %>
                </div>
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <h3>Держитесь за нас</h3>
              <div class="footer_nav">
                <ul>
                  <li class="page_item">
                    <a href="http://vkontakte.ru">ВКонтакте</a>
                  </li>
                  <li class="page_item">
                    <a href="http://vkontakte.ru">Facebook</a>
                  </li>
                  <li class="page_item">
                    <a href="http://vkontakte.ru">Twitter</a>
                  </li>
                  <li class="page_item">
                    <a href="mailto:SmitBLR@gmail.com">SmitBLR@gmail.com</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <h3>Копирайты</h3>
              <div class="welcomemessage">
                <a href="http://localhost:3000">Почему-Я-Такая-Дура</a> <br/>&copy Все права зашишены!
              </div>
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <span class="terms">
                &copy; 2011 FunTech
              </span>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
    <hr class="hidden" />
  </div><!--/wrapper -->
</div><!--/page -->
</body>
</html>