<!DOCTYPE html>
<html>
<head>
  <meta name='yandex-verification' content='485b9e3150fbccda' />
  <meta name="keywords" content="дура, я дура, почему я дура, почему я такая дура" />
  <link rel="shortcut icon" href="<%= root_url %>" type="image/x-icon" />
  <title>Почему я такая дура?</title>
  
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
  <%= yield :head %>
</head>
<body class="home blog" onload="skyscraper_init()">
<div id="page" class="fix">
  <%= render "advert/google_skyscraper" %>
  <div id="wrapper" class="fix">
    <div id="header" class="fix">
      <h1 id="blogtitle"><a href="<%= root_url %>"><span class="sheen"></span>Почему я такая <img src="<%= root_url %>logo.png"/ alt="дура" style="margin-bottom:-6px;">?</a></h1>
      <div id="blogdescription">База тупстВ</div>				<!-- iphone icons -->
      <div class="icons">
	<div class="nav-icon">
          <a href='<%= root_url %>stories.xml'><img class="pngbg" src="<%= root_url %>stylesheets/rss00000.png" alt="rss icon"/></a>
        </div>
      </div>
<!-- /end iphone icons -->
    </div><!-- /header -->
    <div id="nav" class="fix">
      <ul class="fix homebutton">
        <li class="page_item navfirst">
          <a class="home" href="<%= root_url %>" title="Home" style="background-image: url('/stylesheets/home-icon-trans.png');">Домой</a>
        </li>
      </ul>
        <%= render :partial => 'shared/menu'  %>
        <%= render :partial => 'shared/searchblock' %>
      <div class="clear"></div>
    </div><!-- /nav -->

    <div id="container" class="fix ">
      <div id="maincontent">
        <div id="content">
	  <% if !params[:notice].blank? %>
          <p id="notice"><%= params[:notice] %></p>
	  <% end %>
          <%= yield :content %>
        </div> <!-- end content -->
    </div>
  </div>
  <%= render :partial => "advert/google_adsence" %>
  <div  id="footer">
    <div class="effect">
      <div class="content">
          <div class="fcol">
            <div class="fcol_pad">
              <h3>Навигация</h3>
                <div class="footer_nav">
                  <%= render :partial => 'shared/menufooter' %>
                </div>
            </div>
          </div>
          <div class="fcol" style="width: 200px;">
            <div class="fcol_pad">
              <div class="welcomemessage">
                <a href="<%= root_url %>">Почему-Я-Такая-Дура.РУ</a> <br/>&copy; 2011<br/>
                <a href="mailto:admin@pochemu-ya-takaya-dura.ru">admin@pochemu-ya-takaya-dura.ru</a>
                <br/>
                <b><%= link_to 'Рекламодателям', { :controller => 'about', :action => 'advert' } %></b>
              </div>
            </div>
          </div>
          <div class="fcol">
            <div class="fcol_pad">
              <div class="footer_nav">
                <%= render "shared/counters" %>
              </div>
            </div>
          </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <!-- catalogs -->
  <div style="text-align: center;"> 
  </div>  
  <div class="clear"></div>
    <hr class="hidden" />
  </div><!--/wrapper -->
</div><!--/page -->

        <div id="rp_list" class="rp_list">
            <ul>
                <li>
                  <div>
                    <table>
                      <tr>
                        <td>
                          <img src="<%= root_url %>vk.png"/>
                        </td>
                        <td>
                          <script type="text/javascript" src="http://userapi.com/js/api/openapi.js?45"></script>
                          <!-- VK Widget -->
                          <span id="vk_groups"></span>
                          <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {mode: 0, width: "200", height: "290"}, 27627369);
                          </script>
                        </td>
                      </tr>
                    </table>
                  </div>
                </li>
            </ul>
        </div>

    <div style="display:none;" class="nav_up" id="nav_up"></div>
    <div style="display:none;" class="nav_down" id="nav_down"></div>

</body>
</html>
